.super-mario {
    width: 200px;
    position: absolute;
    left: 50px;
    top: 150px;
    z-index: 2;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 100px;
    top: 500px;
    z-index: 1;
  }
  
  .baloon {
    position: absolute;
    left: 300px;
    top: 100px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 320px;
    top: 140px;
    z-index: 5;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 550px;
    top: 320px;
    z-index: 3;
  }